= form_for @contact do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :npoc
    = f.check_box :npoc
  .field
    = f.label :manager
    = f.check_box :manager
  .field
    = f.label :portal_password
    = f.text_field :portal_password
  .field
    = f.label :portal_security_level
    = f.number_field :portal_security_level
  .field
    = f.label :firstname
    = f.text_field :firstname
  .field
    = f.label :lastname
    = f.text_field :lastname
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :department
    = f.text_field :department
  .field
    = f.label :contact_type
    = f.text_field :contact_type
  .field
    = f.label :direct_phone
    = f.text_field :direct_phone
  .field
    = f.label :contact_extension
    = f.text_field :contact_extension
  .field
    = f.label :mobile_phone
    = f.text_field :mobile_phone
  .field
    = f.label :home_phone
    = f.text_field :home_phone
  .field
    = f.label :emergency_phone
    = f.text_field :emergency_phone
  .field
    = f.label :direct_fax
    = f.text_field :direct_fax
  .field
    = f.label :work_email_primary
    = f.text_field :work_email_primary
  .field
    = f.label :work_email_secondary
    = f.text_field :work_email_secondary
  .field
    = f.label :work_email_tertiary
    = f.text_field :work_email_tertiary
  .field
    = f.label :work_email_primary
    = f.text_field :work_email_primary
  .field
    = f.label :work_email_secondary
    = f.text_field :work_email_secondary
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :cost
    = f.text_field :cost
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :manufacture
    = f.text_field :manufacture
  .field
    = f.label :manufacture_part
    = f.text_field :manufacture_part
  .field
    = f.label :serial_numbers
    = f.text_field :serial_numbers
  .field
    = f.label :vendor_perferred
    = f.text_field :vendor_perferred
  .field
    = f.label :vendor_other
    = f.text_field :vendor_other
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :units
    = f.text_field :units
  .field
    = f.label :tax
    = f.text_field :tax
  .field
    = f.label :stock_on_hand
    = f.text_field :stock_on_hand
  .field
    = f.label :stock_location
    = f.text_field :stock_location
  .field
    = f.label :references_recent_orders
    = f.text_field :references_recent_orders
  .field
    = f.label :references_companies_who_own
    = f.text_field :references_companies_who_own
  .actions
    = f.submit 'Save'
