%p#notice= notice

%p
  %b Ppoc:
  = @contact.ppoc
%p
  %b Manager:
  = @contact.manager
%p
  %b Portal password:
  = @contact.portal_password
%p
  %b Portal security level:
  = @contact.portal_security_level
%p
  %b Firstname:
  = @contact.firstname
%p
  %b Lastname:
  = @contact.lastname
%p
  %b Title:
  = @contact.title
%p
  %b Department:
  = @contact.department
%p
  %b Cotact type:
  = @contact.cotact_type
%p
  %b Direct phone:
  = @contact.direct_phone
%p
  %b Contact extension:
  = @contact.contact_extension
%p
  %b Mobile phone:
  = @contact.mobile_phone
%p
  %b Home phone:
  = @contact.home_phone
%p
  %b Emergency phone:
  = @contact.emergency_phone
%p
  %b Direct fax:
  = @contact.direct_fax
%p
  %b Work email primary:
  = @contact.work_email_primary
%p
  %b Work email secondary:
  = @contact.work_email_secondary
%p
  %b Work email tertiary:
  = @contact.work_email_tertiary
%p
  %b Personal email primary:
  = @contact.personal_email_primary
%p
  %b Personal email secondary:
  = @contact.personal_email_secondary
%p
  %b Personal email tertiary:
  = @contact.personal_email_tertiary
%p
  %b Reports to:
  = @contact.reports_to
%p
  %b Primary site:
  = @contact.primary_site
%p
  %b Active inactive:
  = @contact.active_inactive
%p
  %b Notes:
  = @contact.notes
%p
  %b Machine id1:
  = @contact.machine_id1
%p
  %b Machine id2:
  = @contact.machine_id2
%p
  %b Machine id3:
  = @contact.machine_id3
%p
  %b Passwords:
  = @contact.passwords
%p
  %b Cell phone provider:
  = @contact.cell_phone_provider
%p
  %b Cell phone account number:
  = @contact.cell_phone_account_number
%p
  %b Cell phone model:
  = @contact.cell_phone_model
%p
  %b Home isp:
  = @contact.home_isp
%p
  %b Homeuestion answer:
  = @contact.homeuestion_answer
%p
  %b Security question answer2:
  = @contact.security_question_answer2
%p
  %b Secourtiy question answer3:
  = @contact.secourtiy_question_answer3
%p
  %b Securtiy question answer4:
  = @contact.securtiy_question_answer4
%p
  %b Security question answer5:
  = @contact.security_question_answer5
%p
  %b Dvr ip:
  = @contact.dvr_ip
%p
  %b Dvr username:
  = @contact.dvr_username
%p
  %b Dvr password:
  = @contact.dvr_password
%p
  %b Dvr url:
  = @contact.dvr_url
%p
  %b Dvr model:
  = @contact.dvr_model
%p
  %b Vendor profile:
  = @contact.vendor_profile
%p
  %b Vendor profile2:
  = @contact.vendor_profile2
%p
  %b Vendor profile3:
  = @contact.vendor_profile3
%p
  %b Vendor profile4:
  = @contact.vendor_profile4
%p
  %b Vendor profile5:
  = @contact.vendor_profile5
%p
  %b Place of birth:
  = @contact.place_of_birth
%p
  %b Mothers maiden name:
  = @contact.mothers_maiden_name
%p
  %b Last 4 digits of social:
  = @contact.last_4_digits_of_social
%p
  %b Pets name:
  = @contact.pets_name
%p
  %b Personal credit card:
  = @contact.personal_credit_card
%p
  %b Nickname:
  = @contact.nickname
%p
  %b Gender:
  = @contact.gender
%p
  %b College:
  = @contact.college
%p
  %b Birthday:
  = @contact.birthday
%p
  %b Married:
  = @contact.married
%p
  %b Children:
  = @contact.children
%p
  %b Child1:
  = @contact.child1
%p
  %b Child2:
  = @contact.child2
%p
  %b Significant other:
  = @contact.significant_other
%p
  %b Anniversary:
  = @contact.anniversary
%p
  %b Photo:
  = @contact.photo
%p
  %b Home address1:
  = @contact.home_address1
%p
  %b Home address2:
  = @contact.home_address2
%p
  %b City:
  = @contact.city
%p
  %b State:
  = @contact.state
%p
  %b Zip:
  = @contact.zip
%p
  %b Country:
  = @contact.country
%p
  %b Newsletter opt in:
  = @contact.newsletter_opt_in
%p
  %b Facebook:
  = @contact.facebook
%p
  %b Twitter:
  = @contact.twitter
%p
  %b Linkedin:
  = @contact.linkedin
%p
  %b Instagram:
  = @contact.instagram
%p
  %b Personal skype:
  = @contact.personal_skype
%p
  %b Personal gchat:
  = @contact.personal_gchat
%p
  %b Personal aim:
  = @contact.personal_aim
%p
  %b Personal msn:
  = @contact.personal_msn
%p
  %b Personal yahoo:
  = @contact.personal_yahoo

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
